* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 400px;
	margin: 100px auto 0;
	border-radius: 15px;
	border: 1px solid black;
	text-align: center;
	overflow: hidden;
}

.header {
	width: 100%;
	display: flex;
	text-align: initial;
	padding: 15px;
	justify-content: space-between;
	background-color: darkorchid;
	box-shadow: 1px 0px 15px 1px #000;
}

.header h1 {
	font-size: 20px;
	color: white;
}

.header span {
	padding: 5px 0;
	color: white;
}

.post_container {
	padding: 20px;
}

.title {
	margin: 15px 0 15px;
}

.title h1 {
	color: palevioletred;
}

.text p {
	text-align: justify;
}
